* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(170, 24, 239);
  background: linear-gradient(0deg, rgb(170, 24, 239) 0%, rgb(110, 15, 154) 5%, rgb(88, 12, 123) 7%, rgb(32, 4, 44) 57%, rgb(3, 0, 5) 94%, rgb(9, 1, 12) 97%, rgb(0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aa18ef",endColorstr="#000000",GradientType=1);
  color: #fff !important;
}

.glass {
  backdrop-filter: blur(4px) saturate(111%);
  -webkit-backdrop-filter: blur(4px) saturate(111%);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.nav {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}
.nav .logo {
  padding: 20px;
}
.nav .hamburger {
  display: none;
}
@media (max-width: 481px) {
  .nav .hamburger {
    display: grid;
    padding: 20px;
  }
}
.nav .right {
  display: flex;
  gap: 40px;
  padding-right: 2%;
  color: #fff;
}
@media (max-width: 481px) {
  .nav .right {
    display: none;
    padding: 20px 5px;
  }
}
.nav .right .menu ul {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
}
@media (max-width: 481px) {
  .nav .right .menu ul {
    display: hidden;
    padding: 20px 5px;
  }
}
.nav .right .menu ul li {
  padding-left: 40px;
}
@media (max-width: 481px) {
  .nav .right .menu ul li {
    padding: 10px;
  }
}
.nav .right .menu ul li:hover {
  cursor: pointer;
  color: #00b0b0;
}
.nav .right .cart {
  align-self: center;
}
.nav .right .cart:hover {
  cursor: pointer;
  color: #00b0b0;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: calc(100vh - 93.6px);
  gap: 2em;
  margin-bottom: 40px;
}
@media (max-width: 780px) {
  .hero-section {
    display: grid;
    gap: 1em;
    justify-content: center;
    align-items: center;
  }
}
.hero-section__left {
  max-width: 50%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 780px) {
  .hero-section__left {
    display: grid;
    max-width: 100%;
  }
}
.hero-section__left .heading {
  font-weight: 700;
  font-size: clamp(40px, 4vw, 70px);
  line-height: 1;
  transition: 0.5s all ease-in-out;
}
.hero-section__left .heading span {
  color: #00b0b0;
  transition: 0.9s all ease-in-out;
}
.hero-section__left .heading span:hover {
  color: #aa18ef;
}
@media (max-width: 780px) {
  .hero-section__left .heading {
    font-weight: 500;
    font-size: clamp(30px, 3vw, 60px);
    text-align: center;
  }
}
.hero-section__left .paragraph {
  font-weight: 500;
  font-size: 1.5em;
  padding: 1em 0;
  width: 90%;
}
@media (max-width: 780px) {
  .hero-section__left .paragraph {
    font-weight: 300;
    font-size: 1.2em;
    padding: 1em 1.9em;
    -moz-text-align-last: center;
         text-align-last: center;
    width: 100%;
  }
}
.hero-section__left button {
  font-weight: 700;
  font-size: 20px;
  border-radius: 50px;
  padding: 0.3em 1em;
  color: #fff;
  background: linear-gradient(90.12deg, rgba(170, 24, 239, 0.78) 5.13%, rgba(0, 176, 176, 0.88) 92.77%);
  border: none;
}
.hero-section__left button:hover {
  cursor: pointer;
  transform: scaleX(1.1);
}
@media (max-width: 780px) {
  .hero-section__left button {
    text-align: center;
    width: 30%;
    justify-self: center;
  }
}
.hero-section__right {
  max-width: 50%;
  justify-self: flex-end;
  height: 70%;
}
.hero-section__right .img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-section__right .img img {
  width: 90%;
  height: 70%;
}
@media (max-width: 780px) {
  .hero-section__right {
    justify-self: center;
    max-width: 85%;
    gap: 0em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.banner {
  background: url(../banner.png);
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 40px 0;
  margin-bottom: 80px;
}
.banner__left {
  align-self: center;
}
.banner__left .book-img {
  height: auto;
  width: 70%;
  top: 50px;
  display: grid;
  padding-left: 50px;
  -o-object-fit: unset;
     object-fit: unset;
}
.banner__left .book-img img {
  max-width: 200px;
  width: 100%;
  height: 10px;
}
.banner__right {
  width: 70%;
  height: 100%;
  background: #aa18ef;
  padding: 40px 20px;
}
.banner__right h3 {
  font-weight: 200;
  font-size: 2rem;
}
.banner__right p {
  font-weight: 400;
  font-size: 1.2rem;
}
@media (max-width: 615px) {
  .banner__right {
    padding: 20px 20px;
  }
  .banner__right h3 {
    font-size: 1rem;
  }
  .banner__right p {
    font-size: 0.8rem;
  }
}

.banner2 {
  background: url(../banner.png);
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 40px 0;
}
.banner2__right {
  align-self: center;
}
.banner2__right .book-img {
  height: auto;
  width: 70%;
  top: 50px;
  display: grid;
  padding-left: 50px;
  -o-object-fit: unset;
     object-fit: unset;
}
.banner2__right .book-img img {
  max-width: 200px;
  width: 100%;
  height: 10px;
}
.banner2__left {
  width: 70%;
  height: 100%;
  background: #00b0b0;
  padding: 40px 20px;
}
.banner2__left h3 {
  font-weight: 200;
  font-size: 2rem;
}
.banner2__left p {
  font-weight: 400;
  font-size: 1.2rem;
}
@media (max-width: 615px) {
  .banner2__left {
    padding: 20px 20px;
  }
  .banner2__left h3 {
    font-size: 1rem;
  }
  .banner2__left p {
    font-size: 0.8rem;
  }
}

.subscribe-banner {
  height: 150px;
  text-align: -webkit-center;
  background: url(../banner.png);
  margin: 40px 0;
  position: relative;
}
.subscribe-banner__subscribe {
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  background-color: #f5f5f5;
  width: 50%;
  height: 100%;
  filter: drop-shadow(5px 5px, #00b0b0);
}
@media (max-width: 540px) {
  .subscribe-banner__subscribe {
    width: 100%;
  }
}
@media (max-width: 748px) {
  .subscribe-banner__subscribe {
    justify-content: unset;
    padding: 30px 10px 0px 10px;
    height: 100%;
  }
}
.subscribe-banner__subscribe h4 {
  font-weight: 400;
  font-size: 30px;
  color: #000;
  margin-bottom: 10px;
}
@media (max-width: 748px) {
  .subscribe-banner__subscribe h4 {
    font-size: 20px;
  }
}
.subscribe-banner__subscribe input {
  border: 2px solid #00b0b0;
  border-radius: 25px;
  height: 40px;
  color: #000;
  padding: 20px;
  margin-bottom: 10px;
}
.subscribe-banner__subscribe input:focus {
  outline: none;
}
@media (max-width: 540px) {
  .subscribe-banner__subscribe input {
    width: 100%;
  }
}
.subscribe-banner__subscribe span {
  color: #000;
  background-color: #dfdfdf;
  border-radius: 25px;
  width: 25%;
  padding: 10px;
  position: relative;
  top: -51px;
  left: 74%;
}
.subscribe-banner__subscribe span:hover {
  cursor: pointer;
  background-color: #bdbdbd;
  color: #00b0b0;
}

.book-section {
  max-width: 100vw;
  max-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 90px 0px;
}
.book-section h4 {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 20px;
}
@media (max-width: 470px) {
  .book-section h4 {
    font-size: 1.2rem;
  }
}
.book-section .book-title {
  color: #aa18ef;
}
.book-section__container {
  display: grid;
  align-items: center;
  justify-content: center;
}
.book-section__container .open-book {
  display: flex;
  align-self: center;
  justify-self: center;
  -o-object-fit: contain;
     object-fit: contain;
  width: 360px;
  height: 360px;
  background-color: #00b0b0;
  border-radius: 50%;
}
@media (max-width: 481px) {
  .book-section__container .open-book {
    width: 280px;
    height: 280px;
  }
}
.book-section__container .open-book img {
  align-self: center;
  justify-self: center;
  width: 100%;
  height: inherit;
}
@media (max-width: 481px) {
  .book-section__container .open-book img {
    align-self: center;
    justify-self: center;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */